.container {
	padding: 10px;
	border-bottom: 2px solid black;
}

.container1 {
	border-bottom: 2px solid black;
}

.giant-button {
	height: 200px;
	width: 200px;
	margin: 10px;
}

.button-container {
	text-align: center;
}

.popup {
	height: 100%;
	width: 100%;
	background-color: rgba(218, 0, 0, 0.7);
	position: fixed;
	top: 0;
	left: 0;
}

.inside-button {
	margin-top: 25%;
	height: 200px;
	width: 200px;
	background-color: lightblue;
	box-shadow: 2px solid black;
}

/*     */